* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.swiper {
    position: relative;
    width: 70px;
    height: 40px;
}

.slider {
    border-radius: 34px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: gray;
    transition: 0.4s;
}


input {
    display: none;
}

/* vh = vertical height */

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 50%;
    left: 7px;
    bottom: 7px;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: green;

}

input:checked+.slider::before {
    transform: translateX(28px);
    transition: 0.4s;
}